@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #e00707;
  --hover-primary-color: #f40d15;
  --divider-color: rgb(230 230 230);
  --dark-divider-color: rgb(210 210 210);
  --hover-gray: rgb(247 247 247);
  --gray-text: #717171;
  --dark-shadow: rgb(200 200 200);
  --black-text: rgb(45 45 45);
  --anchor-color: rgba(2, 122, 151, 1);
}

.container {
  width: 95.5%;
  margin: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

.page-header {
  position: absolute;
  top: 24px;
  width: 100%;
}

.page-header a {
  color: #fff;
}

.header-container .top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.header-container .search-form {
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.header-container .search-form .input-wrapper {
  position: relative;
  display: block;
  flex: 1;
  background-color: #fff;
}

.header-container .search-form .input-wrapper:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header-container .search-form .input-wrapper:first-child::after {
  content: " ";
  width: 1.5px;
  height: 65%;
  background-color: var(--divider-color);
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.header-container .input-wrapper > div {
  height: 100%;
}

.header-container .input-wrapper label {
  display: block;
  position: absolute;
  color: var(--gray-text);
  top: 50%;
  left: 1.05rem;
  transform: translateY(-50%);
}

.header-container .input-wrapper input {
  width: 100%;
  height: 100%;
  padding: 12px 1rem;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header-container .search-form .btn-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container .btn-wrapper button {
  height: 100%;
  padding: 13px 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--primary-color);
}

.header-container .user-actions-section {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header-container .user-actions-section > a {
  font-size: 15px;
  padding: 0.5rem;
  border-radius: 5px;
}

.header-container .user-actions-section > a:hover {
  background-color: rgba(180 180 180 / 0.5);
}

.header-container .user-actions-section .registration {
  display: flex;
  gap: 1rem;
}

.header-container .registration a {
  padding: 0.4rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: background-color 150ms ease;
}

.header-container .registration a:first-child {
  border: 2px solid var(--divider-color);
}

.header-container .registration a:first-child:hover {
  background-color: rgba(180 180 180 / 0.5);
}

.header-container .registration a:last-child {
  background-color: var(--primary-color);
}

.header-container .registration a:last-child:hover {
  background-color: var(--hover-primary-color);
}

.hero-wrapper {
  width: 100%;
  min-height: 682px;
  max-height: auto;
  background: linear-gradient(to top, rgba(20 20 20 / 0), rgba(20 20 20 / 0.5)),
    url(./assests/hero-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.recent-activity-section {
  padding: 3.3rem 0 3rem;
}

.recent-container {
  max-width: 1224px;
  padding: 0 2.5rem;
}

.recent-container > h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--black-text);
  margin-bottom: 3rem;
}

.recent-container .grid-section .items-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.recent-container .grid-section .item {
  border: 1px solid var(--divider-color);
}

.recent-container .item-wrapper .user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.recent-container .user-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.recent-container .user-info .user {
  display: flex;
  flex-direction: column;
  margin-left: 0.3rem;
}

.recent-container .user-info .user-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-container .user-info .user span:first-child {
  font-weight: 600;
  cursor: pointer;
}

.recent-container .user-info .user span:first-child:hover {
  text-decoration: underline;
}

.recent-container .user-info .user span:last-child {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--gray-text);
}

.recent-container .review-item .img-wrapper {
  height: fit-content;
}

.recent-container .review-item .img-wrapper img {
  aspect-ratio: 16/4;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recent-container .item-bottom {
  padding: 0.8rem 1.5rem 0;
}

.recent-container .item-bottom a,
.photo-item .pic-link a,
.multiple-photo-item .see-more-section a,
.more-activity-section a {
  color: var(--anchor-color);
  font-weight: 600;
  font-size: 0.9rem;
}

.photo-item .pic-link {
  margin-bottom: 1rem;
  padding-left: 1.2rem;
}

.recent-container .item-bottom .rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.15rem;
  padding: 0.5rem 0;
}

.recent-container .rating-wrapper .star {
  display: flex;
}

.recent-container .item-bottom .desc {
  padding: 0 0 0.5rem;
}

.recent-container .item-bottom .desc p {
  font-weight: 400;
  font-size: 0.9rem;
}

.recent-container .item-bottom .reaction-section {
  padding: 1rem 0;
  border-top: 1px solid var(--divider-color);
  display: flex;
  justify-content: flex-start;
  gap: 1.8rem;
}

.recent-container .item-bottom .reaction-btn,
.photo-item .reaction-wrapper .reaction-btn {
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms ease-in;
}

.recent-container .item-bottom .reaction-btn:hover,
.photo-item .reaction-wrapper .reaction-btn:hover {
  --dark-shadow: rgb(230 230 230);
  background-color: var(--dark-shadow);
}

.photo-item .img-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  gap: 1rem;
}

.photo-item .img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-item .reaction-wrapper {
  padding-top: 1rem;
  padding-left: 1rem;
}

.multiple-photo-item .bottom-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
}

.multiple-photo-item .bottom-wrapper .bottom-container {
  border: 1px solid var(--divider-color);
  border-radius: 3px;
}

.multiple-photo-item.photo-item .img-wrapper {
  height: 170px;
}

.multiple-photo-item.photo-item .img-wrapper img {
  border-radius: 3px 3px 0 0;
}

.multiple-photo-item.photo-item .reaction-wrapper {
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}

.multiple-photo-item .see-more-section {
  padding: 1rem;
}

.more-activity-section {
  margin-top: 4rem;
}

.more-activity-section div {
  display: flex;
  justify-content: center;
}

.more-activity-section a {
  display: flex;
  align-items: center;
}
